.footer {
  padding: 20px;
  background-color: black;

  &__logo {
    width: 100px;
    height: 25px;
  }

  &__text {
    color: white;
  }
}

.max-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include onDesktop {
    margin: 0 auto;
    max-width: 1260px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include onTablet {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.bottonNavigation {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include onTablet {
    flex-direction: row;
  }
}

.link {
  display: flex;
  align-items: center;

  min-width: max-content;
  height: 30px;
  padding: 4px;
  transition: 0.2s;

  &__text {
    text-decoration: none;
    color: white;
  }

  &__icon {
    width: 15px;
    height: 15px;
    border-radius: 20%;
    padding-right: 5px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

